tr:nth-child(odd) {
	background-color:#cef;
}

tr:nth-child(even) {
	background-color:#fff;
}

dl {
	background-color: #fff;
	color: #000;
}

#map * {
	float: none;
}

#map input {
	margin: 0.2em;
	padding: 0.1em;
}
